.container{
    width: 85%;
    margin: auto;
    border: 3px solid rgba(97, 94, 94, 0.531);
    padding: 20px;
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    /* margin-bottom: 500px; */
}
.left{
    line-height: 20px;
}
.h1{
    font-size: 80px;
    font-weight: 500;
    transform: scaleY(0.95);
}
.p{
    font-size: 30px;
    line-height: 30px;
    margin-top: -10px;
    font-weight: 450;
    opacity: 0.9;
    
}
.right{
    width: 55%;
    /* margin-top: 3%; */
}
.desc {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(155, 153, 153);
    position: relative; 
    padding-left: 20px;
    padding-right: 20px;
}

.heroBackgrd {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, 0.491);
    opacity: 0;

}

.desc:hover .heroBackgrd {
    opacity: 1; 
}
.desc:hover .heroBackgrd,
.desc1:hover .heroBackgrd,
.desc2:hover .heroBackgrd,
.desc3:hover .heroBackgrd,
.desc4:hover .heroBackgrd {
    opacity: 1; 
}

.desc:hover {
    background-image: url('/src/Images/hero.jpg');
    background-position: center;
    background-size: cover;
    color: lightgray; 
}

.desc1, .desc2, .desc3, .desc4 {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(155, 153, 153);
    background-size: cover;
    background-position: center;
    padding: 0 20px 0 20px;
    position: relative;
    /* transition: background-image 0.3s ease-in-out; */
}

.desc1:hover {
    background-image: url('/src/Images/hero.jpg');
    color: lightgray;
}

.desc2:hover {
    background-image: url('/src/Images/hero.jpg');
    color: lightgray;
}

.desc3:hover {
    background-image: url('/src/Images/hero.jpg');
    color: lightgray;
}

.desc4:hover {
    background-image: url('/src/Images/hero.jpg');
    color: lightgray; 
}
.icon{
    width: 80px;
    z-index: 2;
}
.h2{
    font-size: 70px;
    font-weight: 450;
    padding-right: 1rem;
    z-index: 2;
}
