.All{
    height: 100%;
    width: 85%;
    margin: auto;
    border: 3px solid rgba(97, 94, 94, 0.531);
    padding: 20px;
    border-top: none;
    /* background-color: rgb(96, 34, 34); */
}
.bottom{
    height: 200vh;
    width: 100%;
    /* background-color: rgb(138, 138, 140); */

}
.bottomTop{
    height: 50%;
    width: 100%;
    display: flex;
    background-color: rgb(193, 192, 192);
}
.topLeft{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0;
    height: 100%;
    background-color:rgb(193, 192, 192);
}
.img{
    width: 98%;
    /* align-self: center; */
    object-fit: cover;
    height: 99%;
    border: 2px solid white;
}
.topOnce{
    height: 48%;
    background-color: transparent;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.both{
    object-fit: cover;
    width: 48%;
    height: 98%;
    border: 2px solid white;
}
.topBoth{
    display: flex;
    justify-content: space-evenly;
    height: 50%;
}
.tall{
    object-fit: cover;
    width: 32.2%;
    border: 2px solid white;
    height: 98%;
    margin-top: 4px;
    margin-right: 6px;
}
.bottomBottom{
    display: flex;
    height: 50%;
    justify-content: center;
    width: 100%;
}
.both2{
    display: flex;
    display: flex;
    justify-content: space-evenly;
    height: 50%;
}
.rotate{
    object-fit: cover;
    width: 48%;
    border: 2px solid white;
    transform: rotate(20deg);
    background-color: white;
    transform-origin: top right;
}
.rotate2{
    object-fit: cover;
    width: 48%;
    border: 2px solid white;

}
.img2{
    width: 32%;
    /* align-self: center; */
    object-fit: cover;
    height: 98%;
    border: 2px solid white;
    background-color: red;
    margin-top: 4px;
    margin-left: 7px;
}

.bottomOnce{
    height: 48%;
    background-color: transparent;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.bottomRight{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 0;
    height: 100%;
    background-color:rgb(193, 192, 192);
}
.top {
    display: flex;
    justify-content: space-between;
}
.text{
    text-align: end;
}
.h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
}
.p{
    font-size: 23px;
}
.rotateIcon{
    width: 70px;
    transform: rotate(180deg);
    opacity: 0.8;
}
.yearScroll{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 44px;
 
}
.pYear{
    font-size: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 50px;
    margin-top: 14%;
}