.container{
    width: 85%;
    margin: auto;
    border: 3px solid rgba(97, 94, 94, 0.531);
    padding: 20px;
    border-top: none;
    height: fit-content;
}
.h1{
    font-size: 80px;
    font-weight: 500;
}
.text{
    line-height: 20px;
}
.p{
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
}
.right {
    position: relative;
    width: 90%;
    height: 1000px;
    margin: auto;

}
.image{
    object-fit: cover;
    width: 50%;
    height: 80%;
    position: absolute;
    right: 16%;
    top: -100px;
    transform: rotate(-20deg);
    transform-origin: bottom right;
    border: 3px solid white;


}
.imageBehind{
    object-fit: cover;
    position: absolute;
    width: 50%;
    height: 80%;
    right: 7%;
    top: -100px;
    border: 3px solid white;
}
.heroBackgrd1 {
    content: "";
    position: absolute;
    right: 7.2%;
    top: -97px;
    width: 50%;
    height: 80%;
    background: rgba(0, 0, 0, 0.445); 
}

.heroBackgrd {
    content: "";
    position: absolute;
    right: 16.2%;
    top: -97px;
    width: 50%;
    height: 80%;
    transform: rotate(-20deg);
    transform-origin: bottom right;
    background: rgba(0, 0, 0, 0.518); 
}